fastapi==0.104.1
uvicorn[standard]==0.24.0
langchain==0.1.0
langchain-groq==0.3.8
chromadb==0.4.15
pydantic==2.5.0
pypdf==3.17.4
python-dotenv==1.0.0
openpyxl==3.1.2
pandas==2.1.4
pydantic-settings==2.1.0
python-multipart==0.0.6
sentence-transformers
huggingface-hub
requests
langchain_groq